body{
    
    text-align: center;
  }
  
  .stran {
    height: 100%;
  
    /* Slika za ozadje na sredini */
    background-position: center;
    background-repeat: no-repeat;
  
    /*da pokrije celo stran*/
    background-size: cover;
    font-family: sans-serif;
  
    /*stran postane flexibilna*/
    display: flex;
    /*vse kar je znotraj strani nacentrira*/
    justify-content: center;
  
  }
  .myDiv {
    border: 5px outset red;
    background-color: lightblue;    
    text-align: center;
  }
  #tog:hover{
    background-color: #2E4677;
  
  }
  #reset:hover{
    color: white;
    font-size: 19px;
  
  }
  
  #profil{ 
    border-radius: 5%;
  
    padding-top: 20px;
    padding: 50px;
    border: 10px double white;
    margin: 100px;
    text-align: center;
    background-color:#2E4677;
  }
  #kvadrat{
    border-radius: 5%;
  
    padding-top: 20px;
    padding: 50px;
    border: 10px double white;
    margin: 100px;
    text-align: center;
    background-color:#2E4677;
  }
  
  
  /*start*/
  #naslov{
    text-align: center;
    justify-content: center;
    font-size: 30px;
    color:  white;
  }
  
  #reset{
    text-align: center;
    justify-content: center;
    font-size: 20px;
    color:  white;
    cursor: pointer; 
  
  
  }
  
  #submitreset{
    margin: 20px;
    text-align: center;
  }
  .mreza{
    font-size: 20px;
    color:  white;
  }
  
  #navodila:hover{
    color: blue;
  }
  
  
  
  #besedilo{
    font-size: 17px;
  }
  
  